.footer {
    padding: 20px 0 0px;
    background: #fafafa;
    border-top: 1px solid #e6e6e6;
}
.footer-topList {
}
.footer-address__item {
    .footer_logo {
        position: relative;
        display: block;
        height: 35px;
        margin: 20px 0;
        img {
            position: absolute;
            top: 0;
            left: 0;
            height: 35px;
        }
    }
    > ul {
        li {
            margin: 0 0 12px;
            list-style: none;
            position: relative;
            padding-left: 20px;
            &::before {
                content: "";
                position: absolute;
                left: 6px;
                top: 8px;
                width: 4px;
                height: 4px;
                background: #546e7a;
                border-radius: 50%;
            }
            a {
            }
            &:hover a {
                color: #2a7aff;
            }
        }
    }
}
.topList-item {
    position: relative;
    .topList-item__icon{
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%) rotate(0);
        width: 25px;
        height: 25px;
        background-color: transparent;
        transition: 1s all;
        z-index: 20;
        &::after{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' width='15px' height='15px' viewBox='0 0 451.847 451.847' style='enable-background:new 0 0 451.847 451.847;' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M225.923,354.706c-8.098,0-16.195-3.092-22.369-9.263L9.27,151.157c-12.359-12.359-12.359-32.397,0-44.751 c12.354-12.354,32.388-12.354,44.748,0l171.905,171.915l171.906-171.909c12.359-12.354,32.391-12.354,44.744,0 c12.365,12.354,12.365,32.392,0,44.751L248.292,345.449C242.115,351.621,234.018,354.706,225.923,354.706z'/%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E");
        }
    }
    .topList__icon-rotate{
        transform: translateY(-50%) rotate( 180deg);
    }
    h3 {
        font-size: 16px;
        color: #3d5067;
        margin: 20px 0 18px;
        line-height: 1.4;
        text-transform: uppercase;
        p {
            color: #3d5067;
            font-size: 11px;
            letter-spacing: -0.3px;
            font-family: "sfuiText_semibold";
            margin-top: 4px;
        }
    }
    > ul {
        li {
            margin: 0 0 12px;
            list-style: none;
            position: relative;
            a {
            }
            &:hover a {
                color: #2a7aff;
            }
        }
    }

}
@media screen and (max-width: 767px){
    .topList-50__left767 > ul{
        // display: none;
    }
}
.footer-address {
    padding: 15px 0 50px;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    .footer-address__item {
        > ul {
            li {
                margin: 5px 0;
                list-style: none;
                position: relative;
                padding-left: 20px;
                &::before {
                    content: "";
                    position: absolute;
                    left: 6px;
                    top: 8px;
                    width: 4px;
                    height: 4px;
                    background: #546e7a;
                    border-radius: 50%;
                }
                a {
                    color: #3d5067;
                    font-weight: 700;
                }
                &:hover a {
                    color: #2a7aff;
                }
            }
        }
    }
    .footer-address__system {
        > .address__system {
            .address__system-item {
                .system-item__icon1 {
                    display: inline-block;
                    width: 35px;
                    height: 35px;
                    margin-right: 5px;
                    &::after {
                        content: url("data:image/svg+xml,%3Csvg id='Capa_1' data-name='Capa 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 34.02 34.02'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%2357595a;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3Efb-den%3C/title%3E%3Cpath class='cls-1' d='M17,0A17,17,0,1,0,34,17,17,17,0,0,0,17,0Zm3.76,14.13-.2,2.54H18v8.84h-3.3V16.67H12.9V14.13h1.76V12.42a4.57,4.57,0,0,1,.57-2.64A3.13,3.13,0,0,1,18,8.5a11.05,11.05,0,0,1,3.15.32l-.44,2.61a5.94,5.94,0,0,0-1.42-.21c-.68,0-1.3.25-1.3.93v2Z'/%3E%3C/svg%3E");
                    }
                }
                .system-item__icon2 {
                    display: inline-block;
                    width: 35px;
                    height: 35px;
                    margin-right: 5px;
                    &::after {
                        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 34.02 34.02'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%234f5456;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3Ewt-den%3C/title%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Capa_1' data-name='Capa 1'%3E%3Cpath class='cls-1' d='M17,0A17,17,0,1,0,34,17,17,17,0,0,0,17,0ZM23.8,14.36c0,.15,0,.3,0,.45A9.94,9.94,0,0,1,8.5,23.19a7.07,7.07,0,0,0,5.17-1.45,3.5,3.5,0,0,1-3.26-2.43,3.46,3.46,0,0,0,.66.06,3.41,3.41,0,0,0,.92-.12,3.5,3.5,0,0,1-2.8-3.43v0a3.5,3.5,0,0,0,1.58.44,3.5,3.5,0,0,1-1.08-4.67,9.92,9.92,0,0,0,7.2,3.65,3.5,3.5,0,0,1,6-3.19,7,7,0,0,0,2.22-.85,3.5,3.5,0,0,1-1.54,1.93,7,7,0,0,0,2-.55A7.08,7.08,0,0,1,23.8,14.36Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
                    }
                }
                .system-item__icon3 {
                    display: inline-block;
                    width: 35px;
                    height: 35px;
                    margin-right: 5px;
                    &::after {
                        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 34.02 34.02'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%234f5456;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3Egg-den%3C/title%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Capa_1' data-name='Capa 1'%3E%3Cpath class='cls-1' d='M17,0A17,17,0,1,0,34,17,17,17,0,0,0,17,0Zm2.68,17A6.94,6.94,0,1,1,17,11.51L15.37,13.6a4.3,4.3,0,1,0-2.62,7.7,4.3,4.3,0,0,0,4.09-3H12.75V15.69h6.94Zm7.3.86H25v2H23.28v-2h-2V16.14h2v-2H25v2h2Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
                    }
                }
                .system-item__icon4 {
                    display: inline-block;
                    width: 35px;
                    height: 35px;
                    margin-right: 5px;
                    &::after {
                        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 34.02 34.02'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%2357595a;%7D.cls-2%7Bfill:%23fff;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3Eyt-mau%3C/title%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Capa_1' data-name='Capa 1'%3E%3Cpath class='cls-1' d='M17,34A17,17,0,1,0,0,17,17,17,0,0,0,17,34'/%3E%3Cpath class='cls-2' d='M20.31,17l-5.57,3.27V13.75Zm5.2,3V14A2.87,2.87,0,0,0,22.58,11H11.43A2.87,2.87,0,0,0,8.5,14V20A2.87,2.87,0,0,0,11.43,23H22.58A2.87,2.87,0,0,0,25.51,20'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
                    }
                }
                .system-item__icon5 {
                    display: inline-block;
                    width: 135px;
                    height: 35px;
                    margin-right: 5px;
                    &::after {
                        content: url("data:image/svg+xml,%3Csvg id='Group_12' data-name='Group 12' xmlns='http://www.w3.org/2000/svg' width='135' height='40' viewBox='0 0 135 40'%3E%3Cg id='Group_11' data-name='Group 11'%3E%3Crect id='Rectangle_9' data-name='Rectangle 9' width='135' height='40' rx='5'/%3E%3Cpath id='Path_44' data-name='Path 44' d='M130,.8A4.2,4.2,0,0,1,134.2,5V35a4.2,4.2,0,0,1-4.2,4.2H5A4.2,4.2,0,0,1,.8,35V5A4.2,4.2,0,0,1,5,.8H130m0-.8H5A5,5,0,0,0,0,5V35a5,5,0,0,0,5,5H130a5,5,0,0,0,5-5V5A5,5,0,0,0,130,0Z'/%3E%3Cpath id='Path_45' data-name='Path 45' d='M47.42,10.24a2.71,2.71,0,0,1-.75,2,2.91,2.91,0,0,1-2.2.89A3.13,3.13,0,1,1,45.7,7.12a2.48,2.48,0,0,1,.94.67l-.53.53a2,2,0,0,0-1.64-.71A2.32,2.32,0,0,0,42.14,10a2.36,2.36,0,0,0,4,1.73,1.89,1.89,0,0,0,.5-1.22H44.47V9.79h2.91A2.54,2.54,0,0,1,47.42,10.24Z' fill='%23fff'/%3E%3Cpath id='Path_46' data-name='Path 46' d='M52,7.74H49.3v1.9h2.46v.72H49.3v1.9H52V13H48.5V7H52Z' fill='%23fefefe'/%3E%3Cpath id='Path_47' data-name='Path 47' d='M55.28,13h-.77V7.74H52.83V7H57v.74H55.28Z' fill='snow'/%3E%3Cpath id='Path_48' data-name='Path 48' d='M59.94,13V7h.77v6Z' fill='%23fff'/%3E%3Cpath id='Path_49' data-name='Path 49' d='M64.13,13h-.77V7.74H61.68V7H65.8v.74H64.13Z' fill='snow'/%3E%3Cpath id='Path_50' data-name='Path 50' d='M73.61,12.22a3.12,3.12,0,0,1-4.4,0A3.07,3.07,0,0,1,68.33,10a3.081,3.081,0,1,1,6.16,0,3.07,3.07,0,0,1-.88,2.22Zm-3.83-.5a2.31,2.31,0,0,0,3.26,0A2.35,2.35,0,0,0,73.71,10,2.35,2.35,0,0,0,73,8.28a2.31,2.31,0,0,0-3.26,0A2.35,2.35,0,0,0,69.11,10a2.35,2.35,0,0,0,.67,1.72Z' fill='%23fff'/%3E%3Cpath id='Path_51' data-name='Path 51' d='M75.58,13V7h.94l2.92,4.67h0V7h.77v6h-.8L76.35,8.11h0V13Z' fill='%23fff'/%3E%3Cpath id='Path_52' data-name='Path 52' d='M68.14,21.75A4.25,4.25,0,1,0,72.41,26a4.19,4.19,0,0,0-4.27-4.25Zm0,6.83A2.58,2.58,0,1,1,70.54,26a2.46,2.46,0,0,1-2.4,2.58Zm-9.31-6.83A4.25,4.25,0,1,0,63.09,26a4.19,4.19,0,0,0-4.27-4.25Zm0,6.83A2.58,2.58,0,1,1,61.22,26a2.46,2.46,0,0,1-2.4,2.58ZM47.74,23.06v1.8h4.32a3.77,3.77,0,0,1-1,2.27,4.42,4.42,0,0,1-3.33,1.32,4.8,4.8,0,0,1,0-9.6A4.6,4.6,0,0,1,51,20.14l1.27-1.27A6.29,6.29,0,0,0,47.74,17a6.61,6.61,0,1,0,0,13.21,5.838,5.838,0,0,0,6.17-6.07,5.87,5.87,0,0,0-.1-1.13Zm45.31,1.4A3.929,3.929,0,0,0,85.41,26a4.16,4.16,0,0,0,4.22,4.25,4.23,4.23,0,0,0,3.54-1.88l-1.45-1a2.43,2.43,0,0,1-2.09,1.18,2.16,2.16,0,0,1-2.06-1.29l5.69-2.35Zm-5.8,1.42a2.33,2.33,0,0,1,2.22-2.48,1.65,1.65,0,0,1,1.58.9ZM82.63,30H84.5V17.5H82.63Zm-3.06-7.3H79.5a3,3,0,0,0-2.24-1,4.26,4.26,0,0,0,0,8.51,2.9,2.9,0,0,0,2.24-1h.06v.61c0,1.63-.87,2.5-2.27,2.5a2.35,2.35,0,0,1-2.14-1.51l-1.63.68A4.05,4.05,0,0,0,77.29,34c2.19,0,4-1.29,4-4.43V22H79.57Zm-2.14,5.88a2.59,2.59,0,0,1,0-5.16A2.4,2.4,0,0,1,79.7,26a2.38,2.38,0,0,1-2.28,2.58ZM101.81,17.5H97.33V30H99.2V25.26h2.61a3.89,3.89,0,1,0,0-7.76Zm0,6H99.2V19.24h2.65a2.145,2.145,0,0,1,0,4.29Zm11.53-1.8a3.5,3.5,0,0,0-3.33,1.91l1.66.69a1.77,1.77,0,0,1,1.7-.92,1.8,1.8,0,0,1,2,1.61v.13a4.13,4.13,0,0,0-1.95-.48c-1.79,0-3.6,1-3.6,2.81a2.89,2.89,0,0,0,3.1,2.75,2.63,2.63,0,0,0,2.4-1.2h.06v1h1.8V25.19c0-2.19-1.66-3.46-3.79-3.46Zm-.23,6.85c-.61,0-1.46-.31-1.46-1.06,0-1,1.06-1.33,2-1.33a3.32,3.32,0,0,1,1.7.42,2.26,2.26,0,0,1-2.19,2ZM123.74,22l-2.14,5.42h-.06L119.32,22h-2l3.33,7.58-1.9,4.21h1.95L125.82,22Zm-16.81,8h1.87V17.5h-1.87Z' fill='%23fefefe'/%3E%3Cpath id='Path_53' data-name='Path 53' d='M10.44,7.55A2,2,0,0,0,10,9V31a2,2,0,0,0,.46,1.4l.07.07L22.89,20.15v-.29L10.51,7.48Z' fill='%235bc8f3'/%3E%3Cpath id='Path_54' data-name='Path 54' d='M27,24.27l-4.13-4.13v-.29L27,15.73l.09.05L32,18.56c1.4.79,1.4,2.09,0,2.89l-4.89,2.78Z' fill='%23fcf40f'/%3E%3Cpath id='Path_55' data-name='Path 55' d='M27.11,24.22,22.89,20,10.44,32.45a1.63,1.63,0,0,0,2.08.06l14.6-8.29' fill='%23ff060c'/%3E%3Cpath id='Path_56' data-name='Path 56' d='M27.11,15.78l-4.629-2.628L12.51,7.49a1.63,1.63,0,0,0-2.08.06l6.461,6.456,6,5.994Z' fill='%231ae765'/%3E%3C/g%3E%3C/svg%3E%0A");
                    }
                }
                .system-item__icon6 {
                    display: inline-block;
                    width: 35px;
                    height: 35px;
                    margin-right: 5px;
                    &::after {
                        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='119.64' height='39.99' viewBox='0 0 119.64 39.99'%3E%3Cg id='Group_18' data-name='Group 18' transform='translate(-0.02)'%3E%3Cg id='Group_17' data-name='Group 17'%3E%3Cpath id='Path_57' data-name='Path 57' d='M110.13,0H7.52a13.21,13.21,0,0,0-2,.18,6.67,6.67,0,0,0-1.9.63A6.44,6.44,0,0,0,2,2,6.26,6.26,0,0,0,.82,3.62,6.6,6.6,0,0,0,.2,5.52a13,13,0,0,0-.18,2c0,.31,0,.61,0,.92V32.48a13,13,0,0,0,.18,2,6.59,6.59,0,0,0,.63,1.9A6.21,6.21,0,0,0,2,38a6.27,6.27,0,0,0,1.62,1.18,6.7,6.7,0,0,0,1.9.63,13.45,13.45,0,0,0,2,.18H112.14a13.28,13.28,0,0,0,2-.18,6.8,6.8,0,0,0,1.91-.63A6.28,6.28,0,0,0,117.67,38a6.39,6.39,0,0,0,1.18-1.61,6.6,6.6,0,0,0,.62-1.9,13.511,13.511,0,0,0,.19-2V7.53a13.51,13.51,0,0,0-.19-2,6.62,6.62,0,0,0-.62-1.9A6.47,6.47,0,0,0,116,.82a6.77,6.77,0,0,0-1.91-.63,13,13,0,0,0-2-.18h-2Z'/%3E%3Cpath id='Path_58' data-name='Path 58' d='M8.44,39.13h-.9A12.69,12.69,0,0,1,5.67,39,5.88,5.88,0,0,1,4,38.4a5.41,5.41,0,0,1-1.4-1,5.32,5.32,0,0,1-1-1.4,5.72,5.72,0,0,1-.54-1.66,12.41,12.41,0,0,1-.17-1.87c0-.21,0-.91,0-.91V7.55a12.37,12.37,0,0,1,.17-1.87A5.76,5.76,0,0,1,1.6,4a5.37,5.37,0,0,1,1-1.4A5.57,5.57,0,0,1,4,1.6a5.82,5.82,0,0,1,1.65-.54A12.59,12.59,0,0,1,7.54.89H112.13a12.38,12.38,0,0,1,1.86.16,5.94,5.94,0,0,1,1.67.55A5.59,5.59,0,0,1,118.07,4a5.76,5.76,0,0,1,.54,1.65,13,13,0,0,1,.17,1.89V32.47a12.731,12.731,0,0,1-.17,1.85,5.74,5.74,0,0,1-.54,1.67,5.48,5.48,0,0,1-1,1.39,5.41,5.41,0,0,1-1.4,1A5.86,5.86,0,0,1,114,39a12.54,12.54,0,0,1-1.87.16H8.44Z'/%3E%3Cg id='Group_15' data-name='Group 15'%3E%3Cg id='Group_14' data-name='Group 14'%3E%3Cg id='Group_13' data-name='Group 13'%3E%3Cpath id='Path_59' data-name='Path 59' d='M24.77,20.3a5,5,0,0,1,2.36-4.15,5.07,5.07,0,0,0-4-2.16c-1.68-.18-3.31,1-4.16,1s-2.19-1-3.61-1a5.32,5.32,0,0,0-4.47,2.73C9,20.11,10.4,25,12.25,27.74c.93,1.33,2,2.81,3.43,2.75s1.91-.88,3.58-.88,2.14.88,3.59.85,2.43-1.33,3.32-2.67a11,11,0,0,0,1.52-3.09A4.78,4.78,0,0,1,24.77,20.3Z' fill='%23fff'/%3E%3Cpath id='Path_60' data-name='Path 60' d='M22,12.21a4.87,4.87,0,0,0,1.11-3.49,5,5,0,0,0-3.21,1.66,4.64,4.64,0,0,0-1.14,3.36A4.1,4.1,0,0,0,22,12.21Z' fill='%23fff'/%3E%3C/g%3E%3C/g%3E%3Cpath id='Path_61' data-name='Path 61' d='M42.3,27.14H37.57L36.43,30.5h-2l4.48-12.42H41L45.48,30.5h-2Zm-4.24-1.55h3.75L40,20.14h-.05Z' fill='%23fff'/%3E%3Cpath id='Path_62' data-name='Path 62' d='M55.16,26c0,2.81-1.51,4.62-3.78,4.62A3.07,3.07,0,0,1,48.53,29h0v4.48h-1.9v-12h1.8v1.51h0a3.21,3.21,0,0,1,2.88-1.6C53.65,21.35,55.16,23.16,55.16,26Zm-1.91,0c0-1.83-.95-3-2.39-3s-2.37,1.23-2.37,3,1,3,2.38,3S53.25,27.82,53.25,26Z' fill='%23fff'/%3E%3Cpath id='Path_63' data-name='Path 63' d='M65.12,26c0,2.81-1.51,4.62-3.78,4.62A3.07,3.07,0,0,1,58.5,29h0v4.48H56.6v-12h1.8v1.51h0a3.21,3.21,0,0,1,2.88-1.6C63.61,21.35,65.12,23.16,65.12,26Zm-1.91,0c0-1.83-.95-3-2.39-3s-2.37,1.23-2.37,3,1,3,2.38,3,2.39-1.2,2.39-3Z' fill='%23fff'/%3E%3Cpath id='Path_64' data-name='Path 64' d='M71.71,27c.14,1.23,1.33,2,3,2s2.69-.81,2.69-1.92-.68-1.54-2.29-1.94l-1.61-.39c-2.28-.55-3.34-1.62-3.34-3.35,0-2.14,1.87-3.61,4.52-3.61s4.42,1.47,4.48,3.61h-1.9c-.11-1.24-1.14-2-2.63-2s-2.52.76-2.52,1.86c0,.88.65,1.39,2.25,1.79l1.37.34c2.55.6,3.61,1.63,3.61,3.44,0,2.32-1.85,3.78-4.79,3.78-2.75,0-4.61-1.42-4.73-3.67Z' fill='%23fff'/%3E%3Cpath id='Path_65' data-name='Path 65' d='M83.35,19.3v2.14h1.72v1.47H83.35v5c0,.78.34,1.14,1.1,1.14a5.811,5.811,0,0,0,.61,0v1.46a5.1,5.1,0,0,1-1,.09c-1.83,0-2.55-.69-2.55-2.44V22.91H80.16V21.44h1.32V19.3Z' fill='%23fff'/%3E%3Cpath id='Path_66' data-name='Path 66' d='M86.07,26c0-2.85,1.68-4.64,4.29-4.64s4.29,1.79,4.29,4.64S93,30.61,90.36,30.61,86.07,28.83,86.07,26Zm6.7,0c0-2-.9-3.11-2.4-3.11S88,24,88,26s.89,3.11,2.4,3.11,2.4-1.14,2.4-3.11Z' fill='%23fff'/%3E%3Cpath id='Path_67' data-name='Path 67' d='M96.19,21.44H98V23h0a2.16,2.16,0,0,1,2.18-1.64,2.87,2.87,0,0,1,.64.07v1.74A2.6,2.6,0,0,0,100,23a1.87,1.87,0,0,0-2,2.13V30.5H96.19Z' fill='%23fff'/%3E%3Cpath id='Path_68' data-name='Path 68' d='M109.38,27.84c-.25,1.64-1.85,2.77-3.9,2.77-2.63,0-4.27-1.76-4.27-4.6s1.64-4.68,4.19-4.68,4.08,1.72,4.08,4.47v.64h-6.39v.11a2.36,2.36,0,0,0,2.14,2.56h.29a2,2,0,0,0,2.09-1.27Zm-6.28-2.7h4.53a2.18,2.18,0,0,0-2.05-2.29h-.17a2.29,2.29,0,0,0-2.31,2.28h0Z' fill='%23fefefe'/%3E%3C/g%3E%3Cg id='Group_16' data-name='Group 16'%3E%3Cpath id='Path_69' data-name='Path 69' d='M37.83,8.73a2.64,2.64,0,0,1,2.81,3c0,1.91-1,3-2.81,3H35.67v-6ZM36.6,13.85h1.13a1.88,1.88,0,0,0,2-2.15,1.88,1.88,0,0,0-2-2.13H36.6Z' fill='%23fff'/%3E%3Cpath id='Path_70' data-name='Path 70' d='M41.68,12.44a2.13,2.13,0,1,1,4.25,0,2.13,2.13,0,1,1-4.25,0Zm3.33,0c0-1-.44-1.55-1.21-1.55s-1.21.57-1.21,1.55S43,14,43.81,14,45,13.42,45,12.44Z' fill='%23fff'/%3E%3Cpath id='Path_71' data-name='Path 71' d='M51.57,14.7h-.92l-.93-3.32h-.07l-.93,3.32h-.91l-1.24-4.5h.9l.81,3.44h.07l.93-3.44h.85L51,13.63h.07l.8-3.44h.89Z' fill='%23fff'/%3E%3Cpath id='Path_72' data-name='Path 72' d='M53.85,10.19h.86v.72h.07a1.35,1.35,0,0,1,1.34-.8,1.46,1.46,0,0,1,1.56,1.67V14.7h-.89V12c0-.72-.31-1.08-1-1.08a1,1,0,0,0-1.08,1.14V14.7h-.89Z' fill='%23fff'/%3E%3Cpath id='Path_73' data-name='Path 73' d='M59.09,8.44H60V14.7h-.89Z' fill='%23fff'/%3E%3Cpath id='Path_74' data-name='Path 74' d='M61.22,12.44a2.13,2.13,0,1,1,4.25,0,2.13,2.13,0,1,1-4.25,0Zm3.33,0c0-1-.44-1.55-1.21-1.55s-1.21.57-1.21,1.55S62.57,14,63.34,14,64.55,13.42,64.55,12.44Z' fill='%23fff'/%3E%3Cpath id='Path_75' data-name='Path 75' d='M66.4,13.42c0-.81.6-1.28,1.67-1.34L69.3,12v-.39c0-.48-.31-.74-.92-.74s-.84.18-.94.5h-.86c.09-.77.82-1.27,1.84-1.27s1.77.56,1.77,1.51V14.7h-.86v-.63h-.07a1.51,1.51,0,0,1-1.35.71,1.36,1.36,0,0,1-1.49-1.21A1.087,1.087,0,0,1,66.4,13.42ZM69.3,13v-.38l-1.1.07c-.62,0-.9.25-.9.65s.35.64.83.64a1.06,1.06,0,0,0,1.16-.95Z' fill='%23fff'/%3E%3Cpath id='Path_76' data-name='Path 76' d='M71.35,12.44c0-1.42.73-2.32,1.87-2.32a1.48,1.48,0,0,1,1.38.79h.07V8.44h.89V14.7H74.7V14h-.07a1.56,1.56,0,0,1-1.41.79C72.07,14.77,71.35,13.87,71.35,12.44Zm.92,0c0,1,.45,1.53,1.2,1.53s1.21-.58,1.21-1.53-.47-1.53-1.21-1.53S72.27,11.49,72.27,12.44Z' fill='%23fff'/%3E%3Cpath id='Path_77' data-name='Path 77' d='M79.23,12.44a2.13,2.13,0,1,1,4.25,0,2.13,2.13,0,1,1-4.25,0Zm3.33,0c0-1-.44-1.55-1.21-1.55s-1.21.57-1.21,1.55S80.58,14,81.36,14s1.2-.58,1.2-1.56Z' fill='%23fff'/%3E%3Cpath id='Path_78' data-name='Path 78' d='M84.67,10.19h.86v.72h.07a1.35,1.35,0,0,1,1.34-.8,1.46,1.46,0,0,1,1.56,1.67V14.7h-.89V12c0-.72-.31-1.08-1-1.08a1,1,0,0,0-1.08,1.14V14.7h-.89Z' fill='%23fff'/%3E%3Cpath id='Path_79' data-name='Path 79' d='M93.52,9.07v1.14h1V11h-1v2.32c0,.47.19.68.64.68h.34v.74a2.92,2.92,0,0,1-.48,0c-1,0-1.38-.35-1.38-1.22V11h-.71v-.75h.71V9.07Z' fill='%23fff'/%3E%3Cpath id='Path_80' data-name='Path 80' d='M95.7,8.44h.88v2.48h.07A1.39,1.39,0,0,1,98,10.11a1.48,1.48,0,0,1,1.55,1.68V14.7h-.89V12c0-.72-.33-1.08-1-1.08a1.05,1.05,0,0,0-1.13,1.14V14.7H95.7Z' fill='%23fff'/%3E%3Cpath id='Path_81' data-name='Path 81' d='M104.76,13.48a1.83,1.83,0,0,1-2,1.3,2,2,0,0,1-2.08-2.32,2.08,2.08,0,0,1,1.78-2.33h.29c1.25,0,2,.86,2,2.27v.31h-3.18A1.19,1.19,0,0,0,102.72,14h.11a1.08,1.08,0,0,0,1.07-.55ZM101.64,12h2.27a1.09,1.09,0,0,0-1-1.16h-.11A1.15,1.15,0,0,0,101.64,12Z' fill='%23fff'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
                    }
                }
            }
        }
    }
}
.footer-bottom {
    padding: 24px 0 35px;
    background: #f6f6f6;
    border-top: 1px solid #e6e6e6;
    .wrap-footer-bottom {
        .footer-bottom-contact {
            ul {
                display: flex;
                li {
                    list-style: none;
                    &:nth-child(2) {
                        &::before {
                            content: "";
                            display: inline-block;
                            vertical-align: middle;
                            width: .5px;
                            height: 14px;
                            background: #3d5067;
                            margin: 0px 25px;
                        }
                    }
                    a {
                        color: #3d5067;
                        font-weight: 700;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 767px){
    .topList-50__left767 > ul li {
        width: 50%;
        float: left;
    }
}